.navbar {
  background-color: red;
  display: flex;
  justify-content: center;

  .select-video {
    background: yellow;
    text-align: center;
    margin: 5px 30px;
    display: flex;
    align-items: center;
  }

  .video-qty {
    background: yellow;
    text-align: center;
    margin: 5px 30px;

    // .video-qty-input {
    //   width: 50%;
    // }

    .add-btn {
      width: 50%;
      margin: auto;
      border: 1px solid black;
      cursor: pointer;
    }
  }

  .adj {
    background: yellow;
    text-align: center;
    margin: 5px 30px;
  }
}
