.draggable-video-container {
  position: absolute;

  .corner {
    display: flex;
    width: 300px;
    justify-content: space-between;
    background: #64ffda;
    color: #0a192f;

    .drag-here {
      cursor: all-scroll;
      border-right: 1px solid #64ffda;
      font-size: 20px;
      padding: 5px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    form {
      width: 100%;
      display: flex;
      align-items: center;

      input {
        height: 100%;
        width: 100%;
        max-width: 100%;
        padding: 0 10px;
        border-width: 0;
        font-size: 12px;
        // border-top: 1px solid #64ffda;
        outline: none;
        background-color: #0a192f;
        color: #64ffda;
      }
    }

    .delete {
      padding: 5px 10px;
      cursor: pointer;
      border-left: 1px solid #64ffda;
    }
  }

  .youtube-video {
    border: none;
  }
}

